.image-list {
  margin: 3em 0;

  li {
    margin-bottom: 4em;

    @include media-breakpoint-up("md") {
      margin-bottom: 0;
    }
  }
}

.image-list__blocklink {
  display: block;
}

.image-list__image {
  @include media-breakpoint-up("md") {
    max-width: 80%;
  }
}

.image-list__icon {
  margin-top: 2em;
  max-width: 80px;
  max-height: 80px;
}

.image-list__title {
  margin: 1.5em 0 1em;
}
