---
layout: classic-docs
---

<div class="row">
  {% assign install_docs = site.docs | where: "categories", "installing-airbrake" | sort: "language" %}
  {% for doc in install_docs %}
    {% assign doc_title = doc.short-title | default: doc.title %}
    {% if doc.slug != page.slug %}
    <div class="col-xl-3 col-lg-3 col-md-6 col-6">
      <a class="card btn btn--link-color mb-3 py-0" href="{{ site.baseurl }}{{ doc.url }}">
        <div class="card-body">
          <img class="install-guides-img" src="/docs/assets/img/docs/languages/{{doc.language}}.png" alt=""/>
          <div class="text-center pt-2">{{ doc_title }}</div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
