body {
  font-size: $ab-font-size-default;
  font-weight: 300;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

b, strong, th {
  font-weight: 600;
}

pre {
  margin: 0 0 10px;
  padding: 1em;
  font-size: $ab-font-size-small;
  line-height: 1.5;
  border: none;
  border-radius: 0;
  color: $ab-grey-100;
  background-color: $ab-grey-1000;
}

code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-size: 90%;
}
