.header-links {
  @include clearfix();
  clear: both;

  @include media-breakpoint-up("md") {
    clear: none;

    // State class added by Bootstrap's collapse.js
    &.collapse {
      display: block;
      // collapse.js leaves an inline style of height: 0px
      // override that rule for larger breakpoints
      height: auto !important;
    }
  }
}

.header-links__list {
  @include media-breakpoint-up("md") {
    @include ab-list-inline();
  }
}

.header-links__list--left {
  @include media-breakpoint-up("md") {
    float: left;
  }
}

.header-links__list--right {
  @include media-breakpoint-up("md") {
    float: right;
  }
}
